<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>kazarin.me</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/kazarin_me.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">kazarin.me</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#resume">Resume</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#blog">Blog</a>
                    </li>
                    <li>
                        <a href="#connect">Connect</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>kazarin.me</h1>
                <h2>Home of Roman Kazarin</h2>
                <h2> Computer Scientist, Student, Researcher.</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <br>
            <br>
            <br>
            <img class="featurette-image img-circle img-responsive pull-right" src="https://scontent-lax.xx.fbcdn.net/hphotos-xfp1/v/l/t1.0-9/7587_10152435017003317_2977485917952679890_n.jpg?oh=99387f449d53da56b6ffb9cd851f4702&oe=5579A431">
<!--             <h2 class="featurette-heading">About me
 -->            </h2>
            <p class="lead">
            <b>Organization:</b> University of California, Santa Barbara <br>
            <b>Degree program:</b> M.S. - Computer Science <br>
            <b>Current home: </b> Santa Barbara, CA
            </p>

            <p class="lead"> Hello there, and welcome to my home page. I am currently a Computer Science student at UCSB. My research interests
            are within the fields of Machine Learning, Big Data, and Network Science. Check out my projects on <a href="https://github.com/rkazarin">github</a>, my <a href="#resume">resume,</a> and <a href="#connect">connect</a> with me on social media.</p>
            <br>
            <br>
            <br>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="resume">
            <br>
            <br>
            <br>
<!--             <h2 class="featurette-heading">Resume</h2> <br>
 -->            <div class="row resume_row">
                <div id="columns">
                    <div class = "left column">
                        <p >
                            <strong>EDUCATION </strong>  
                        </p>
                    </div>
                    <div class = "right column">
                        <p>
                            University of California Santa Barbara<br>
                            M.S., Computer Science, College of Engineering, Class of 2016 <br>
                            B.S. in Computer Science, College of Engineering, Class of 2015
                        </p>
                    </div>
                  
                </div>
            </div>
            <div class="row resume_row">
                <div id="columns">
                    <div class = "left column">
                        <p >
                            <strong>PROFESSIONAL <br>EXPERIENCE  </strong>  
                        </p>
                    </div>
                    <div class = "right column">
                        <p> 
                            <strong>Department of Computer Science</strong> - UCSB<br>
                            <em>Undergraduate Researcher</em> - October 2014 - Present<br>
                            Developing ideas and algorithms for the Social Genome Project. The objective is to understand user behavior, based on actions on the Twitter social
                            network. By building a model based on these actions and observing its content, dynamic change, and network structure, we can infer how engaged a user is in
                             a specific topic and accurately predict the propagation of information through the network.
                        </p>
                        <p> 
                            <strong>Stormpath </strong>-  San Mateo, CA <br>
                            <em>Software Engineering Intern</em> - June 2014 – September 2014<br>
                            Built web applications using Node.js and Java that used Stormpath for user/API key management.
                            Added Github Social Login to the Stormpath SDK.
                            Wrote blog posts that served to guide developers on building applications and discussed pros/cons of several web technologies.
                        </p>
                        <p> 
                            <strong>FLIR Systems </strong>-  Santa Barbara, CA <br>
                            <em>Logic Validation Engineer Intern</em> - January 2013 – June 2014 <br>
                            Redesigned and rewrote the testing infrastructure from a proprietary scripting language to Python. Wrote programs that validated the functionality of modules in FLIR camera components.
                            Maintained the automated testing system.
                        </p>
                        <p> 
                            <strong>Stormpath </strong>-  San Mateo, CA <br>
                            <em>Software Engineering Intern</em> - June 2013 – September 2013 <br>
                            Used REST-assured with Groovy to test and validate REST services provided by Stormpath. Wrote unit and integration tests to validate code. Used Java, JavaScript, and CSS to improve the Stormpath API on both the frontend and backend.
                        </p>
                        <p> 
                            <strong>Barnes & Noble NOOK </strong>-  Palo Alto, CA <br>
                            <em>Engineering Intern</em> - July 2012 – September 2012  <br>
                            Designed and wrote software for the NOOK HD tablet. Used Python, Shell script, and various static analysis tools to develop a better debugging experience for NOOK developers.
                        </p>
                    </div>
                  
                </div>
            </div>

            <div class="row resume_row">
                <div id="columns">
                    <div class = "left column">
                        <p >
                            <strong>TECHNICAL <br> SKILLS </strong>  
                        </p>
                    </div>
                    <div class = "right column">
                        <p>
                            <strong>Programming languages: </strong> Java, C++, Python, JavaScript (Node.js, Angular.js), C, SQL, HTML/CSS, Shell<br>
                            <strong>Applications/Skills/Platforms: </strong> Object Oriented Design, Web Applications, Software Testing, REST, Node.js, Angular.js<br>
                           <strong>Operating Systems: </strong>Mac OS X, Linux, Windows
                        </p>
                    </div>
                  
                </div>
            </div>
            <div class="row resume_row">
                <div id="columns">
                    <div class = "left column">
                        <p >
                            <strong>HONORS</strong>  
                        </p>
                    </div>
                    <div class = "right column">
                        <p>
                            Dean's Honor List (8 time recipient) <br>
                            Engineering Honors Program
                        </p>
                    </div>
                  
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="projects">
            <br>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img class="featurette-image img-circle social-media mini " src="https://scontent-lax.xx.fbcdn.net/hphotos-xfp1/v/l/t1.0-9/7587_10152435017003317_2977485917952679890_n.jpg?oh=99387f449d53da56b6ffb9cd851f4702&oe=5579A431">
                    </div>
                    <div class="col-md-3">
                        <strong>March 2015</strong>
                    </div>
                    <div class="col-md-6">
                        <a href="https://github.com/rkazarin/Stream-With-Friends">
                        Stream With Friends</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <img class="featurette-image img-circle social-media mini " src="https://scontent-lax.xx.fbcdn.net/hphotos-xfp1/v/l/t1.0-9/7587_10152435017003317_2977485917952679890_n.jpg?oh=99387f449d53da56b6ffb9cd851f4702&oe=5579A431">
                    </div>
                    <div class="col-md-3">
                        <strong>March 2015</strong>
                    </div>
                    <div class="col-md-6">
                        <a href="https://github.com/rkazarin/kazarin.me">
                        Kazarin.me</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <img class="featurette-image img-circle social-media mini" src="https://scontent-lax.xx.fbcdn.net/hphotos-xfp1/v/l/t1.0-9/7587_10152435017003317_2977485917952679890_n.jpg?oh=99387f449d53da56b6ffb9cd851f4702&oe=5579A431">
                    </div>
                    <div class="col-md-3">
                        <strong>September 2014</strong>
                    </div>
                    <div class="col-md-6">
                        <a href="https://github.com/rkazarin/stormpath-express-sample">
                        Node.js/Express.js/Stormpath Sample Application</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <img class="featurette-image img-circle social-media mini" src="https://scontent-lax.xx.fbcdn.net/hphotos-xfp1/v/l/t1.0-9/7587_10152435017003317_2977485917952679890_n.jpg?oh=99387f449d53da56b6ffb9cd851f4702&oe=5579A431">
                    </div>
                    <div class="col-md-3">
                        <strong>August 2014</strong>
                    </div>
                    <div class="col-md-6">
                        <a href="https://github.com/rkazarin/sample-jersey-webapp">
                        Java/Jersey/Stormpath Sample Application</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <img class="featurette-image img-circle social-media mini" src="https://scontent-lax.xx.fbcdn.net/hphotos-xfp1/v/l/t1.0-9/7587_10152435017003317_2977485917952679890_n.jpg?oh=99387f449d53da56b6ffb9cd851f4702&oe=5579A431">
                    </div>
                    <div class="col-md-3">
                        <strong>August 2014</strong>
                    </div>
                    <div class="col-md-6">
                        <a href="https://github.com/rkazarin/Electronic-Store-Warehouse-Simulator">
                        E-Store/Warehouse Simulator</a>
                    </div>
                </div>
            </div>

        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="blog">

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img class="featurette-image img-circle social-media mini" src="stormpath_icon.png">
                    </div>
                    <div class="col-md-3">
                        <strong>September 12, 2014</strong>
                    </div>
                    <div class="col-md-6">
                        <a href="https://stormpath.com/blog/express-sample-api-key-management/">
                        Easy API Key Management for Node - a Sample App</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <img class="featurette-image img-circle social-media mini" src="stormpath_icon.png">
                    </div>
                    <div class="col-md-3">
                        <strong>August 11, 2014</strong>
                    </div>
                    <div class="col-md-6">
                        <a href="https://stormpath.com/blog/jersey-app-key-management/">
                        Manage Your API Keys With Java, Jersey, and Stormpath</a>
                    </div>
                </div>
            </div>

        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="connect">
<!--             <h2 class="featurette-heading">Connect with me!
 -->            </h2> <br>
            <div class="container">
                <div class="row social-media-row">
                    <div class="col-md-1 social-media">
                        <a href="https://twitter.com/Roman_Kaz">
                            <img class="featurette-image img-circle social-media" src="twitter_icon_black.png">
                        </a>
                    </div>
                    <div class="col-md-1 social-media">
                        <a href="https://github.com/rkazarin">
                            <img class="featurette-image img-circle social-media" src="github_icon.jpg">
                        </a>
                    </div>
                    <div class="col-md-1 social-media">
                        <a href="https://www.linkedin.com/in/rkazarin">
                            <img class="featurette-image img-circle social-media" src="linkedin_icon.png">
                        </a>
                    </div>
                    <div class="col-md-1 social-media">
                        <a href="https://instagram.com/romankaz/">
                            <img class="featurette-image img-circle social-media" src="ig_icon.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p><em> <a href="https://github.com/rkazarin">Built with node.js and heroku.</a></em><br>
                    Copyright &copy; kazarin.me 2015
                    </p>

                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
