<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>kazarin.me</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/kazarin_me.css" rel="stylesheet">

</head>

<body>

    

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <h2> SPECTRE </h2>

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <br>
            <br>
            <br>
          <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/JamesBond007/videos/vb.266350353379883/1156558397692403/?type=3"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/JamesBond007/videos/1156558397692403/"><a href="https://www.facebook.com/JamesBond007/videos/1156558397692403/"></a><p>Bond (Daniel Craig) fights Hinx (Dave Bautista) on a train in this new clip from SPECTRE.</p>Posted by <a href="https://www.facebook.com/JamesBond007">James Bond 007</a> on Saturday, October 24, 2015</blockquote></div></div>
        </div>

        <hr class="featurette-divider">


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p><em> <a href="https://github.com/rkazarin">Built with node.js and heroku.</a></em><br>
                    Copyright &copy; kazarin.me 2015
                    </p>

                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
